<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  
  <connectionStrings>
    <add name="CS_ADO_NET"
         connectionString= "Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Aluno\Documents\Igor ADS\Programação Visual\Exercicios\ADO_NetProject01\App_Data\ADO_NETDatabase.mdf;Integrated Security=True"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>